body {
    font-family: Arial, sans-serif;
    background-color: #003535;
    color: #96CBCA;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border: 1px solid #96CBCA;
}

th {
    background-color: #004B4B;
}
